body {
  font-family: "Poppins";
  padding: 0;
  margin: 0;
  font-size: 14px;
  background-color: #f3f3fc;
}

* {
  box-sizing: border-box;
}

div,
span,
button {
  font-family: "Poppins";
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  transition: all ease 0.2s;

  &.primary {
    background-color: #1b91fb;
    border-radius: 16px;
    height: 47px;
    color: #fff;

    &:hover {
      background-color: #1d86e4;
    }
  }

  &.secondary {
    background-color: transparent;
    height: 47px;
    color: #000;

    &:hover {
      opacity: 0.7;
    }
  }
}

input {
  height: 47px;
  background-color: #f3f3fc;
  border: 2px solid transparent;
  outline: none;
  border-radius: 16px;
  padding: 0 16px;
  transition: all ease 0.2s;

  &:focus-within {
    border-color: #cacae7;
  }

  &.hass-error {
    border-color: #fb1b6c;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  @media (max-width: 760px) {
    height: 100vh;
    padding: 10px;
  }

  .container {
    width: 983px;
    background-color: #fff;
    border-radius: 16px;
    height: 702px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
    position: relative;

    @media (max-width: 760px) {
      width: 100%;
      height: 100%;
    }
  }
}

#no-data-section {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  display: none;

  &.visible {
    display: flex;
  }

  img {
    width: 374.06px;
    height: auto;

    @media (max-width: 760px) {
      width: 100%;
    }
  }

  p {
    margin: 48px 0 21px 0;
    font-size: 22px;
  }

  button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
    outline: none;
    gap: 11px;
    color: #1b91fb;
    font-size: 14px;

    img {
      width: 24px;
      height: 24px;
    }
  }
}

.modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.2s;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);

  form {
    transition: all ease 0.2s;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05);
    width: 500px;
    height: fit-content;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: -89px;
    bottom: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    opacity: 0;

    @media (max-width: 760px) {
      width: 90%;
    }

    .field-item {
      display: flex;
      flex-direction: column;
    }

    .field-buttons {
      display: flex;
      width: 100%;

      button {
        flex: 1;
      }
    }

    #title-error {
      color: #fb1b6c;
      font-size: 12px;
      font-weight: 500;
    }
  }

  &.visible-modal {
    opacity: 1;
    visibility: visible;

    form {
      opacity: 1;
      top: 0;
    }
  }
}

.add-new-task-icon {
  position: absolute;
  right: 20px;
  bottom: 0;
  cursor: pointer;
  transition: all ease 0.3s;
  opacity: 0;
  visibility: hidden;

  &:hover {
    transform: scale(1.05);
  }

  &.visible {
    opacity: 1;
    visibility: visible;
    bottom: 20px;
  }
}

#list {
  padding: 50px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  gap: 10px;
  display: none;

  &.visible {
    display: flex;
  }

  @media (max-width: 760px) {
    padding: 20px;
  }

  .task-item {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all ease 0.2s;

    background-color: #f3f3ff;
    padding: 15px;
    border-radius: 16px;

    @media (max-width: 760px) {
      flex-direction: column;
      justify-content: flex-start;
      gap: 10px;
    }

    .task-item-title {
      font-size: 16px;
      color: #7b7a9c;
      transition: all ease 0.2s;

      @media (max-width: 760px) {
        width: 100%;
        color: #000;
      }
    }

    .task-item-right-section {
      display: flex;
      gap: 35px;

      @media (max-width: 760px) {
        width: 100%;
        justify-content: flex-start;
        flex-direction: row-reverse;
      }

      & > div {
        width: 115px;
        height: 24px;
        background-color: #fff;
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        font-weight: 500;
        color: #1b91fb;
        transition: all ease 0.2s;
      }

      img {
        opacity: 0;
        visibility: hidden;
        transition: all ease 0.2s;
        position: relative;
        left: -10px;

        @media (max-width: 760px) {
          opacity: 1;
          visibility: visible;
          left: 0;
        }
      }
    }

    &:hover {
      .task-item-title {
        color: #000;
      }

      .task-item-right-section {
        & > div {
          background-color: #1b91fb;
          color: #f5fbff;
        }

        img {
          opacity: 1;
          visibility: visible;
          left: 0;
        }
      }
    }
  }
}
